@media (min-width: 1200px) {
  .quote-section {
    height: 50vh;
  }
  .quote-section h1 {
    font-size: 4em;
    color: #fff;
  }
  .quote-section img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .link-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .link-section ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .link-section ul li .list-items {
    width: 100%;
  }
  .link-section ul li .list-items .list-comments {
    display: none;
  }
  .main-section {
    height: 95vh;
  }
  .main-section .main-section-am-cup-bkg {
    bottom: -5vh;
    right: -70vw;
    width: 170vw;
  }
  .main-section .main-section-am-cup-boat {
    bottom: -5vh;
    right: -10vw;
    width: 170vw;
  }
  .main-section .main-section-txt {
    width: 60vw;
    padding: 0 1em 15em 2em;
  }
  .main-section .main-section-txt h1 {
    font-size: 4vw;
  }
  .solutions-section .solutions-section-content .solutions-section-content-header h1 {
    font-size: 6em;
  }
  .solutions-section .solutions-section-content .solutions-section-content-header .brush-stroke {
    position: absolute;
    width: 30vw;
  }
  .solutions-section .solutions-section-content ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .solutions-section .solutions-section-content ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
  }
  .solutions-section .solutions-section-content ul li .list-items {
    width: 100%;
  }
  .solutions-section .solutions-section-content ul li .list-items .list-comments {
    display: none;
  }
  .solutions-section .solutions-section-content ul li .list-items .list-comments-cricket {
    border: 3px solid red;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    height: 100%;
  }
  .solutions-section .solutions-section-content ul li .list-items .list-comments-cricket h2 {
    color: #fff;
    font-size: 3em;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: .25em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .solutions-section .solutions-section-content ul li .list-items :hover + .list-comments-sporting {
    display: block;
    position: relative;
    z-index: 50;
    -webkit-filter: brightness(20%);
            filter: brightness(20%);
  }
  .solutions-section .solutions-section-content .view-more {
    width: 10%;
  }
}

.list-comments-color {
  opacity: 50%;
  border: 2px solid red;
}
/*# sourceMappingURL=home-desktop-main.css.map */