// @import 'breakpoints';

// @import 'product';
//colors
$highkight-color: #FA0029;
$ppg-blue: #0A57A4;
$main-color: #1A1B26;
$highlight-color: #dddcdc;
$white-color: #fff;

@mixin image-links {
    position: relative;
    display: flex;
    flex-direction: column;

    li{

        .list-items{
            position: relative;
            width: 100vw;
            height: 100%;
            padding: 0;

            a{
                cursor: pointer;

                img{
                    display: block;
                    object-fit: cover;
                    object-position: top;
                    width: 100%;
                    height: 40vh;
                    filter: grayscale(.6);
                    mix-blend-mode: screen;
                }
            }

            .list-comments{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p{
                    color: $white-color;
                    font-size: 2em;
                    text-align: center;
                    font-weight: 700;
                    letter-spacing: .15em;
                    text-shadow: -2px 2px 2px rgba($color: $main-color, $alpha: .5);
                }

                button{
                    @include the-buttons;

                    a{
                        text-decoration: none;
                        color: $white-color;
                    }
                }
            }
        }
    }    
}

@mixin the-buttons {
    position: relative;
    z-index: 5;
    font-size: 1.25em;
    font-weight: 300;
    text-transform: uppercase;
    width: 30%;
    display: block;
    margin: 0 auto;
    border-radius: 5em;
    background-color: rgba($color: $main-color, $alpha: 0.9);
    padding: .5em 0;
    box-sizing: border-box;
    margin-top: 1em;
    border: 1px solid $white-color;
    
    &:hover{
        cursor: pointer;
    }
}



*{
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
}




.wrapper{
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    width: 100vw;

    header{ 
        .nav{
            position: fixed;
            top: 0;
            z-index: 90;
            width: 100vw;

            .bars {
                position: fixed;
                top: 1em;
                right: 1em;
                z-index: 100;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 4em;
                height: 3.5em;
                cursor: pointer;
            }
    
            .bar1,
            .bar2,
            .bar3 {
                width: 3em;
                height: 0.25em;
                background-color: $white-color;
                border-radius: 15px;
                transition: 0.5s;
            }
    
            .change .bar1 {
                transform: rotate(45deg) translate(.7em, 1em);
                color: $highlight-color;
            }
    
            .change .bar2 {
                opacity: 0;
                transform: scaleX(0);
                color: $highlight-color;
            }
    
            .change .bar3 {
                transform: rotate(-45deg) translate(0.7em, -1em);
                color: $highlight-color;
            }

            .nav-content{
                position: relative;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background-color: $main-color;
                display: none;

                .logo{
                    text-align: center;
                    margin-top: 5em;
                    opacity: 0;

                    img{
                        text-align: center;

                        &:hover{
                            filter: grayscale(1);
                        }
                    }
                }

                ul{
                    text-align: center;
                    margin-bottom: 5em;

                    li{
                        position: relative;
                        left: -20em;
                        margin: 2em 0;

                        a{
                            font-weight: 300;
                            color: $white-color;
                            text-decoration: none;
                            font-size: 3em;
                            padding-bottom: .5em;
                            border-bottom: 1px solid transparent;

                            &:hover{
                                color: #FA0029;
                                border-bottom: 1px solid $highkight-color;
                            }
                        }
                    }
                }
            }
        }

        @import 'desktop-nav';
    }

    main{
        width: 100vw;

        // Home Page
        .video-section{
            position: relative;
            z-index: 5;

            .ppg-video{
                width: 100vw;
                display: block;
            }
        }

        .quote-section{
            position: relative;
            z-index: 5;
            width: 100%;

            h1{
                width: 90%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                font-weight: 300;
                font-size: 1.5em;
                line-height: 1.5em;
                color: $white-color;
                text-transform: uppercase;

                span{
                    color: $highkight-color;
                    font-weight: 700;
                }
            }

            img{
                display: block;
                width: 100%;
                height: 100%em;
            }
        }

        .link-section{
            position: relative;
            z-index: 5;
            width: 100vw;
            height: auto;

            ul{
                @include image-links;
            }
        }

        .main-section{
            position: relative;
            width: 100vw;
            height: 40vh;

            .main-section-bkg{
                position: relative;
                top: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                filter: brightness(80%);
            }

            .main-section-am-cup-bkg{
                position: absolute;
                bottom: 0;
                bottom: -3vh;
                right: -100vw;
                height: auto;
                width: 250%;
            }

            .main-section-am-cup-boat{
                position: absolute;
                z-index: 5;
                bottom: 0;
                bottom: -3vh;
                right: -50vw;
                height: auto;
                width: 250%;
            }

            .main-section-txt{
                position: absolute;
                width: 60vw;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                padding: 0 1em 3em 1.5em;
                box-sizing: border-box;
                
                h1{
                    position: relative;
                    font-size: 5vw;
                    font-weight: 300;
                    color: $white-color;
                    line-height: 1.25em;
                }
            }
        }

        .solutions-section, .clients-section{
            position: relative;

            .solutions-section-bg-img, .clients-section-bg-img{
                position: fixed;
                z-index: -1;
                top: 0;
                width: 100vw;
                height: 150vh;

                img{
                    height: 100%;
                }
                
                filter: opacity(0.2);
                display: block;
            }

            .solutions-section-content, .clients-section-content{
                width: 100%;

                .solutions-section-content-header, .clients-section-content-header{
                    position: relative;

                    h1{
                        position: relative;
                        z-index: 5;
                        text-align: center;
                        color: $ppg-blue;
                        padding: .5em 0;
                        text-transform: uppercase;
                    }

                    .brush-stroke{
                        position: absolute;
                        z-index: 4;
                        bottom: .5em;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 60vw;
                    }
                }

                ul{
                    @include image-links;
                    position: relative;
                    z-index: 5;
                }

                .view-more{
                    @include the-buttons;
                    width: 40%;
                    padding: .5em;
                    border: 6px solid $ppg-blue;
                    margin-bottom: 1em;

                    a{
                        text-decoration: none;
                        color: $white-color;
                    }
                }
            }
        }

        //About Page
        .top-section{
            position: fixed;
            top: 0;

            img{
                display: block;
            }
        }

        .about-section{
            position: relative;
            width: 100vw;
            height: 100%;
            margin-top: 60vh;
            padding: 2em 0;
            box-sizing: border-box;
            background-image: url('../img/queens-warft/1904-queens-wharf-queens-street.jpg');
            background-blend-mode: screen;
            background-color: $highlight-color;

            .clients-section-bg-img{
                position: fixed;
                z-index: -1;
                top: 0;
                width: 100vw;
                height: 150vh;

                img{
                    height: 100%;
                }
                
                filter: opacity(0.2);
                display: block;
            }
    
            .the-header{
                width: 80%;
                margin: 0 auto;
    
                h1{
                    text-align: left;
                    color: $ppg-blue;
                }
            }

            .the-paragraph{
                width: 80%;
                margin: 0 auto;
                padding: 1em 0;

                p{
                    color: $main-color;
                }
            }
        }

        .image-section{
            position: relative;
            z-index: 6;
            img{
                width: 100%;
                display: block;
            }
        }
        .clients-section{

            .clients-section-content{
                background-color: $white-color;

                .clients{
                    width: 80%;
                    margin: 0 auto;
                    display: flex;
                    flex-wrap: wrap;

                    img{
                        border: 1px solid transparent;
                        width: 20vw;
                        height: auto;
                        display: block;
                        margin: 1em auto;
                    }
                }
            }
        }

        @import 'home-desktop-main';
        @import 'about-desktop-main';
    }

    footer{
        position: relative;
        width: 100vw;
        background-image: url('../img/backgrounds/footer-background.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $white-color;

        .footer-content{
            position: relative;
            z-index: 6;
            padding-top: 2em;

            .footer-address{
                text-align: center;

                h3{
                    color: $highkight-color;
                    margin: .5em;
                }

                .footer-contact{
                    display: flex;
                    justify-content: center;
                    margin: 1.5em 0;

                    a{
                        text-decoration: none;
                        color: $white-color;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 300;
                    }

                    i{
                        font-size: 1.5em;
                        color: transparent;
                        -webkit-text-stroke-width: .5px;
                        -webkit-text-stroke-color: $highkight-color;
                        margin-right: .5em;
                    }
                }
            }

            .footer-social{
                text-align: center;
                margin: .5em 0;

                a{

                    i{
                        font-size: 3.5em;
                        text-align: center;
                        padding: 0.25em 0.5em;
                        color: transparent;
                        -webkit-text-stroke-width: .5px;
                        -webkit-text-stroke-color: $highkight-color;
                    }
                }
            }

            .footer-links{
                padding: 1em 0;
                margin-top: -10px;
                background-color: $main-color;

                ul{
                    display: flex;
                    justify-content: space-around;

                    li{

                        a{
                            text-decoration: none;
                            color: $white-color;
                            font-size: 1.2em;
                        }
                    }
                  
                }
            }

            .color{
                display: none;
            }
        }
        @import 'desktop-footer';
    }
}




