* {
  padding: 0;
  border: 0;
  margin: 0;
  list-style: none;
}

header .nav {
  position: fixed;
  top: 0;
  z-index: 90;
  width: 100vw;
}

header .nav .bars {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4em;
  height: 3.5em;
  cursor: pointer;
}

header .nav .bar1,
header .nav .bar2,
header .nav .bar3 {
  width: 3em;
  height: 0.25em;
  background-color: #fff;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .nav .change .bar1 {
  -webkit-transform: rotate(45deg) translate(0.7em, 1em);
          transform: rotate(45deg) translate(0.7em, 1em);
  color: #dddcdc;
}

header .nav .change .bar2 {
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  color: #dddcdc;
}

header .nav .change .bar3 {
  -webkit-transform: rotate(-45deg) translate(0.7em, -1em);
          transform: rotate(-45deg) translate(0.7em, -1em);
  color: #dddcdc;
}

header .nav .nav-content {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #1A1B26;
  opacity: 1;
}

header .nav .nav-content .logo {
  text-align: center;
  margin-top: 5em;
}

header .nav .nav-content .logo img {
  text-align: center;
}

header .nav .nav-content .logo img:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

header .nav .nav-content ul {
  text-align: center;
  margin-bottom: 5em;
}

header .nav .nav-content ul li {
  position: relative;
  width: 100vw;
  left: -100vw;
  margin: 2em 0;
}

header .nav .nav-content ul li a {
  display: block;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  font-size: 3em;
}

@media (min-width: 55em) {
  header .nav .nav-content .logo a img {
    width: 60vw;
  }
  header .nav .nav-content ul {
    position: relative;
    width: 100vw;
  }
}

@media (min-width: 75em) {
  header .nav {
    position: fixed;
  }
  header .nav .bars {
    display: none;
  }
  header .nav .nav-content {
    position: relative;
    height: 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5em;
    opacity: 1 !important;
  }
  header .nav .nav-content .logo {
    position: relative;
    z-index: 100;
    height: 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
  }
  header .nav .nav-content .logo a img {
    text-align: center;
    height: 5em;
    width: auto;
  }
  header .nav .nav-content ul {
    position: relative;
    width: auto;
    height: 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .nav .nav-content ul li {
    position: relative;
    width: auto;
    left: 0;
    margin: 2em 0;
  }
  header .nav .nav-content ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.25em;
    padding-bottom: .25em;
    margin: 0 2em;
    border-bottom: 1px solid transparent;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  header .nav .nav-content ul li a:hover {
    color: #FA0029;
    border-bottom: 1px solid #FA0029;
  }
}

.home-page {
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

.home-page main {
  width: 100vw;
}

.home-page main .video-section {
  position: relative;
  z-index: 5;
}

.home-page main .video-section .ppg-video {
  width: 100vw;
  display: block;
}

.home-page main .quote-section {
  position: relative;
  z-index: 5;
  width: 100%;
}

.home-page main .quote-section h1 {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #fff;
  text-transform: uppercase;
}

.home-page main .quote-section h1 span {
  color: #FA0029;
  font-weight: 700;
}

.home-page main .quote-section img {
  display: block;
  width: 100%;
  height: 100%em;
}

.home-page main .link-section {
  position: relative;
  z-index: 5;
  width: 100vw;
  height: auto;
}

.home-page main .link-section ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-page main .link-section ul li .list-items {
  position: relative;
  width: 100vw;
  height: 100%;
  padding: 0;
}

.home-page main .link-section ul li .list-items a {
  cursor: pointer;
}

.home-page main .link-section ul li .list-items a img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 40vh;
  -webkit-filter: grayscale(0.6);
          filter: grayscale(0.6);
  mix-blend-mode: screen;
}

.home-page main .link-section ul li .list-items .list-comments {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page main .link-section ul li .list-items .list-comments p {
  color: #fff;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  letter-spacing: .15em;
  text-shadow: -2px 2px 2px rgba(26, 27, 38, 0.5);
}

.home-page main .link-section ul li .list-items .list-comments button {
  position: relative;
  z-index: 5;
  font-size: 1.25em;
  font-weight: 300;
  text-transform: uppercase;
  width: 30%;
  display: block;
  margin: 0 auto;
  border-radius: 5em;
  background-color: rgba(26, 27, 38, 0.9);
  padding: .5em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 1em;
  border: 1px solid #fff;
}

.home-page main .link-section ul li .list-items .list-comments button:hover {
  cursor: pointer;
}

.home-page main .link-section ul li .list-items .list-comments button a {
  text-decoration: none;
  color: #fff;
}

.home-page main .main-section {
  position: relative;
  width: 100vw;
  height: 40vh;
}

.home-page main .main-section .main-section-bkg {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.home-page main .main-section .main-section-am-cup-bkg {
  position: absolute;
  bottom: 0;
  bottom: -3vh;
  right: -100vw;
  height: auto;
  width: 250%;
}

.home-page main .main-section .main-section-am-cup-boat {
  position: absolute;
  z-index: 5;
  bottom: 0;
  bottom: -3vh;
  right: -75vw;
  height: auto;
  width: 250%;
}

.home-page main .main-section .main-section-txt {
  position: absolute;
  width: 60vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  padding: 0 1em 3em 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-page main .main-section .main-section-txt h1 {
  position: relative;
  font-size: 5vw;
  font-weight: 300;
  color: #fff;
  line-height: 1.25em;
}

.home-page main .solutions-section, .home-page main .clients-section {
  position: relative;
  padding-top: 2em;
}

.home-page main .solutions-section .solutions-section-bg-img, .home-page main .solutions-section .clients-section-bg-img, .home-page main .clients-section .solutions-section-bg-img, .home-page main .clients-section .clients-section-bg-img {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 150vh;
  -webkit-filter: opacity(0.2);
          filter: opacity(0.2);
  display: block;
}

.home-page main .solutions-section .solutions-section-bg-img img, .home-page main .solutions-section .clients-section-bg-img img, .home-page main .clients-section .solutions-section-bg-img img, .home-page main .clients-section .clients-section-bg-img img {
  height: 100%;
}

.home-page main .solutions-section .solutions-section-content, .home-page main .solutions-section .clients-section-content, .home-page main .clients-section .solutions-section-content, .home-page main .clients-section .clients-section-content {
  width: 100%;
}

.home-page main .solutions-section .solutions-section-content .solutions-section-content-header, .home-page main .solutions-section .solutions-section-content .clients-section-content-header, .home-page main .solutions-section .clients-section-content .solutions-section-content-header, .home-page main .solutions-section .clients-section-content .clients-section-content-header, .home-page main .clients-section .solutions-section-content .solutions-section-content-header, .home-page main .clients-section .solutions-section-content .clients-section-content-header, .home-page main .clients-section .clients-section-content .solutions-section-content-header, .home-page main .clients-section .clients-section-content .clients-section-content-header {
  position: relative;
}

.home-page main .solutions-section .solutions-section-content .solutions-section-content-header h1, .home-page main .solutions-section .solutions-section-content .clients-section-content-header h1, .home-page main .solutions-section .clients-section-content .solutions-section-content-header h1, .home-page main .solutions-section .clients-section-content .clients-section-content-header h1, .home-page main .clients-section .solutions-section-content .solutions-section-content-header h1, .home-page main .clients-section .solutions-section-content .clients-section-content-header h1, .home-page main .clients-section .clients-section-content .solutions-section-content-header h1, .home-page main .clients-section .clients-section-content .clients-section-content-header h1 {
  position: relative;
  font-size: 3em;
  z-index: 5;
  text-align: center;
  color: #0A57A4;
  padding: .5em 0;
  text-transform: uppercase;
}

.home-page main .solutions-section .solutions-section-content .solutions-section-content-header .brush-stroke, .home-page main .solutions-section .solutions-section-content .clients-section-content-header .brush-stroke, .home-page main .solutions-section .clients-section-content .solutions-section-content-header .brush-stroke, .home-page main .solutions-section .clients-section-content .clients-section-content-header .brush-stroke, .home-page main .clients-section .solutions-section-content .solutions-section-content-header .brush-stroke, .home-page main .clients-section .solutions-section-content .clients-section-content-header .brush-stroke, .home-page main .clients-section .clients-section-content .solutions-section-content-header .brush-stroke, .home-page main .clients-section .clients-section-content .clients-section-content-header .brush-stroke {
  position: absolute;
  z-index: 4;
  bottom: .5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70vw;
}

.home-page main .solutions-section .solutions-section-content ul, .home-page main .solutions-section .clients-section-content ul, .home-page main .clients-section .solutions-section-content ul, .home-page main .clients-section .clients-section-content ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 5;
}

.home-page main .solutions-section .solutions-section-content ul li .list-items, .home-page main .solutions-section .clients-section-content ul li .list-items, .home-page main .clients-section .solutions-section-content ul li .list-items, .home-page main .clients-section .clients-section-content ul li .list-items {
  position: relative;
  width: 100vw;
  height: 100%;
  padding: 0;
}

.home-page main .solutions-section .solutions-section-content ul li .list-items a, .home-page main .solutions-section .clients-section-content ul li .list-items a, .home-page main .clients-section .solutions-section-content ul li .list-items a, .home-page main .clients-section .clients-section-content ul li .list-items a {
  cursor: pointer;
}

.home-page main .solutions-section .solutions-section-content ul li .list-items a img, .home-page main .solutions-section .clients-section-content ul li .list-items a img, .home-page main .clients-section .solutions-section-content ul li .list-items a img, .home-page main .clients-section .clients-section-content ul li .list-items a img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 40vh;
  -webkit-filter: grayscale(0.6);
          filter: grayscale(0.6);
  mix-blend-mode: screen;
}

.home-page main .solutions-section .solutions-section-content ul li .list-items .list-comments, .home-page main .solutions-section .clients-section-content ul li .list-items .list-comments, .home-page main .clients-section .solutions-section-content ul li .list-items .list-comments, .home-page main .clients-section .clients-section-content ul li .list-items .list-comments {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page main .solutions-section .solutions-section-content ul li .list-items .list-comments p, .home-page main .solutions-section .clients-section-content ul li .list-items .list-comments p, .home-page main .clients-section .solutions-section-content ul li .list-items .list-comments p, .home-page main .clients-section .clients-section-content ul li .list-items .list-comments p {
  color: #fff;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  letter-spacing: .15em;
  text-shadow: -2px 2px 2px rgba(26, 27, 38, 0.5);
}

.home-page main .solutions-section .solutions-section-content ul li .list-items .list-comments button, .home-page main .solutions-section .clients-section-content ul li .list-items .list-comments button, .home-page main .clients-section .solutions-section-content ul li .list-items .list-comments button, .home-page main .clients-section .clients-section-content ul li .list-items .list-comments button {
  position: relative;
  z-index: 5;
  font-size: 1.25em;
  font-weight: 300;
  text-transform: uppercase;
  width: 30%;
  display: block;
  margin: 0 auto;
  border-radius: 5em;
  background-color: rgba(26, 27, 38, 0.9);
  padding: .5em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 1em;
  border: 1px solid #fff;
}

.home-page main .solutions-section .solutions-section-content ul li .list-items .list-comments button:hover, .home-page main .solutions-section .clients-section-content ul li .list-items .list-comments button:hover, .home-page main .clients-section .solutions-section-content ul li .list-items .list-comments button:hover, .home-page main .clients-section .clients-section-content ul li .list-items .list-comments button:hover {
  cursor: pointer;
}

.home-page main .solutions-section .solutions-section-content ul li .list-items .list-comments button a, .home-page main .solutions-section .clients-section-content ul li .list-items .list-comments button a, .home-page main .clients-section .solutions-section-content ul li .list-items .list-comments button a, .home-page main .clients-section .clients-section-content ul li .list-items .list-comments button a {
  text-decoration: none;
  color: #fff;
}

.home-page main .solutions-section .solutions-section-content .view-more, .home-page main .solutions-section .clients-section-content .view-more, .home-page main .clients-section .solutions-section-content .view-more, .home-page main .clients-section .clients-section-content .view-more {
  position: relative;
  z-index: 5;
  font-size: 1.25em;
  font-weight: 300;
  text-transform: uppercase;
  width: 30%;
  display: block;
  margin: 0 auto;
  border-radius: 5em;
  background-color: rgba(26, 27, 38, 0.9);
  padding: .5em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 1em;
  border: 1px solid #fff;
  width: 40%;
  padding: .5em;
  border: 6px solid #0A57A4;
  margin-bottom: 1em;
}

.home-page main .solutions-section .solutions-section-content .view-more:hover, .home-page main .solutions-section .clients-section-content .view-more:hover, .home-page main .clients-section .solutions-section-content .view-more:hover, .home-page main .clients-section .clients-section-content .view-more:hover {
  cursor: pointer;
}

.home-page main .solutions-section .solutions-section-content .view-more a, .home-page main .solutions-section .clients-section-content .view-more a, .home-page main .clients-section .solutions-section-content .view-more a, .home-page main .clients-section .clients-section-content .view-more a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 55em) {
  .home-page main .quote-section h1 {
    font-size: 3em;
  }
  .home-page main .main-section {
    height: 55vh;
  }
  .home-page main .main-section .main-section-am-cup-boat {
    bottom: 0;
    right: -55vw;
    width: 150vw;
  }
  .home-page main .main-section .main-section-txt {
    width: 60vw;
    padding: 0 1em 15em 2em;
    margin-top: 3em;
  }
  .home-page main .main-section .main-section-txt h1 {
    font-size: 4vw;
  }
  .home-page main .solutions-section .solutions-section-content .solutions-section-content-header h1 {
    font-size: 6em;
  }
  .home-page main .solutions-section .solutions-section-content .solutions-section-content-header .brush-stroke {
    width: 70vw;
  }
  .home-page main .solutions-section .solutions-section-content .view-more {
    width: 20vw;
  }
}

@media (min-width: 75em) {
  .home-page main .quote-section {
    height: 50vh;
  }
  .home-page main .quote-section h1 {
    font-size: 4em;
    color: #fff;
  }
  .home-page main .quote-section img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .home-page main .link-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .home-page main .link-section ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .home-page main .link-section ul li .list-items {
    width: 100%;
  }
  .home-page main .link-section ul li .list-items .list-comments {
    display: none;
  }
  .home-page main .main-section {
    height: 100vh;
  }
  .home-page main .main-section .main-section-am-cup-bkg {
    bottom: -5vh;
    right: -70vw;
    width: 170vw;
  }
  .home-page main .main-section .main-section-am-cup-boat {
    bottom: -5vh;
    right: -65vw;
    width: 200vw;
  }
  .home-page main .main-section .main-section-txt {
    width: 60vw;
    padding: 0 1em 15em 2em;
  }
  .home-page main .main-section .main-section-txt h1 {
    font-size: 4vw;
  }
  .home-page main .solutions-section .solutions-section-content .solutions-section-content-header h1 {
    font-size: 6em;
  }
  .home-page main .solutions-section .solutions-section-content .solutions-section-content-header .brush-stroke {
    position: absolute;
    width: 30vw;
  }
  .home-page main .solutions-section .solutions-section-content ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .home-page main .solutions-section .solutions-section-content ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
  }
  .home-page main .solutions-section .solutions-section-content ul li .list-items {
    width: 100%;
  }
  .home-page main .solutions-section .solutions-section-content ul li .list-items .list-comments {
    display: none;
  }
  .home-page main .solutions-section .solutions-section-content ul li .list-items .list-comments-cricket {
    border: 3px solid red;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    height: 100%;
  }
  .home-page main .solutions-section .solutions-section-content ul li .list-items .list-comments-cricket h2 {
    color: #fff;
    font-size: 3em;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: .25em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .home-page main .solutions-section .solutions-section-content ul li .list-items :hover + .list-comments-sporting {
    display: block;
    position: relative;
    z-index: 50;
    -webkit-filter: brightness(20%);
            filter: brightness(20%);
  }
  .home-page main .solutions-section .solutions-section-content .view-more {
    width: 10%;
  }
}

.about-page {
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

.about-page .top-section {
  position: fixed;
  z-index: -10;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.about-page .top-section img {
  display: block;
  height: 100%;
  height: 100%;
}

@media (min-width: 55em) {
  .about-page .top-section img {
    width: 100%;
  }
}

.about-page .about-section {
  position: relative;
  width: 100vw;
  height: 100%;
  margin-top: 45vh;
  padding: 2em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/queens-warft/1904-queens-wharf-queens-street.jpg");
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dddcdc;
}

.about-page .about-section .the-header {
  width: 80%;
  margin: 0 auto;
}

.about-page .about-section .the-header h1 {
  text-align: left;
  color: #0A57A4;
}

.about-page .about-section .the-paragraph {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
}

.about-page .about-section .the-paragraph p {
  color: #1A1B26;
}

.about-page .image-section {
  position: relative;
  z-index: 6;
}

.about-page .image-section img {
  width: 100%;
  display: block;
}

.about-page .clients-section .clients-section-content {
  background-color: #fff;
}

.about-page .clients-section .clients-section-content .clients {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-page .clients-section .clients-section-content .clients img {
  border: 1px solid transparent;
  width: 20vw;
  height: auto;
  display: block;
  margin: 1em auto;
}

.about-page .sustainability-section {
  width: 100vw;
  height: 100%;
  padding: 1em;
  background-color: #dddcdc;
}

.about-page .sustainability-section .sustainability-certification {
  width: 80%;
  margin: 0 auto;
}

footer {
  position: relative;
  width: 100vw;
  background-image: url("../img/backgrounds/footer-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #dddcdc;
  padding-top: 2em;
}

footer .footer-content {
  position: relative;
  z-index: 6;
}

footer .footer-content .footer-address {
  text-align: center;
}

footer .footer-content .footer-address .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5em 0;
}

footer .footer-content .footer-address .footer-contact a {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
}

footer .footer-content .footer-address .footer-contact i {
  font-size: 1.5em;
  color: transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #FA0029;
  margin-right: .5em;
}

footer .footer-content .footer-social {
  text-align: center;
  margin: .5em 0;
}

footer .footer-content .footer-social a i {
  font-size: 3.5em;
  text-align: center;
  padding: 0.25em 0.5em;
  color: transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #FA0029;
}

footer .footer-links {
  padding: 1em 0;
  margin-top: -10px;
  background-color: #1A1B26;
}

footer .footer-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

footer .color {
  display: none;
}

@media (min-width: 55em) {
  footer .footer-content .footer-address {
    margin-top: 1.5em;
  }
  footer .footer-content .footer-address .footer-contact {
    font-size: 1.5em;
    margin: .25em 0;
    padding: 0;
  }
  footer .footer-content .footer-address .footer-contact i {
    width: 1em;
  }
  footer .footer-links ul li a {
    font-size: 1.5em;
    padding: 1em;
    display: block;
  }
}

@media (min-width: 75em) {
  footer {
    padding: 5em 0;
  }
  footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .footer-content .footer-address .footer-contact {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin: 2em;
  }
  footer .footer-content .footer-address .footer-contact a {
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  footer .footer-content .footer-address .footer-contact a:hover {
    color: #FA0029;
  }
  footer .footer-content .footer-social {
    margin: 0;
  }
  footer .footer-content .footer-social a .fa-instagram, footer .footer-content .footer-social a .fa-linkedin-in {
    font-size: 5em;
    text-align: center;
    margin: .5em 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #FA0029;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  footer .footer-content .footer-social a .fa-instagram:hover, footer .footer-content .footer-social a .fa-linkedin-in:hover {
    -webkit-text-stroke-color: #fff;
  }
  footer .footer-content .footer-links {
    position: relative;
    z-index: 100;
    padding: 0;
    background-color: transparent;
  }
  footer .footer-content .footer-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-content .footer-links ul li {
    margin: 1em;
  }
  footer .footer-content .footer-links ul li a {
    font-size: 1.5em;
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 300;
    letter-spacing: .25em;
    text-align: right;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  footer .footer-content .footer-links ul li a:hover {
    color: #FA0029;
  }
  footer .color {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 3em;
    background-color: #1A1B26;
  }
}
/*# sourceMappingURL=style.css.map */