* {
  padding: 0;
  border: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
  overflow: auto;
}

header nav {
  position: absolute;
}

header nav .bars {
  position: fixed;
  z-index: 200;
  top: 1em;
  right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4em;
  height: 3.5em;
  cursor: pointer;
}

header nav .bar1,
header nav .bar2,
header nav .bar3 {
  width: 3em;
  height: 0.25em;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 2px #1A1B26;
          box-shadow: 1px 1px 2px #1A1B26;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav .change .bar1 {
  -webkit-transform: rotate(45deg) translate(0.7em, 1em);
          transform: rotate(45deg) translate(0.7em, 1em);
  color: #dddcdc;
}

header nav .change .bar2 {
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  color: #dddcdc;
}

header nav .change .bar3 {
  -webkit-transform: rotate(-45deg) translate(0.7em, -1em);
          transform: rotate(-45deg) translate(0.7em, -1em);
  color: #dddcdc;
}

header nav .nav-content {
  position: fixed;
  z-index: 99;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100vw;
  background-color: #1A1B26;
  display: none;
}

header nav .nav-content #logo img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  margin-top: 7em;
}

header nav .nav-content ul {
  text-align: center;
}

header nav .nav-content ul li {
  position: relative;
  width: 100vw;
  left: -100vw;
}

header nav .nav-content ul li a {
  display: block;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
}

@media (min-width: 45em) {
  header nav .nav-content #logo img {
    width: 50%;
  }
  header nav .nav-content ul {
    margin-top: 7em;
  }
  header nav .nav-content ul li a {
    font-size: 4em;
  }
}

@media (min-width: 75em) {
  header nav .bars {
    display: none;
  }
  header nav .nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 6em;
    padding: 0 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 0;
    background-color: #1A1B26;
    -webkit-box-shadow: 0px 0px 5px black;
            box-shadow: 0px 0px 5px black;
  }
  header nav .nav-content #logo img {
    opacity: 1 !important;
    scale: 1 !important;
    display: block;
    position: relative;
    z-index: 110;
    height: 5em;
    margin-top: 0;
  }
  header nav .nav-content #logo:hover {
    -webkit-filter: grayscale(50%);
            filter: grayscale(50%);
  }
  header nav .nav-content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: left;
    margin-top: 0;
  }
  header nav .nav-content ul li {
    position: relative;
    width: auto;
    left: 0;
    margin: 0 1em;
  }
  header nav .nav-content ul li a {
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    border-bottom: 1px solid transparent;
  }
  header nav .nav-content ul li a:hover {
    border-bottom: 1px solid #FA0029;
    text-shadow: 2px 2px #FA0029;
  }
}

.home-page main {
  width: 100vw;
}

.home-page main .video-section {
  position: relative;
  z-index: 5;
}

.home-page main .video-section .ppg-video {
  width: 100vw;
  display: block;
}

.home-page main .quote-section {
  position: relative;
  z-index: 5;
  width: 100%;
}

.home-page main .quote-section h1 {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 0px 25px #0A57A4;
}

.home-page main .quote-section h1 span {
  color: #dddcdc;
  font-weight: 700;
  font-size: 2em;
  text-shadow: 0px 0px 15px #FA0029;
}

.home-page main .quote-section img {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 45em) {
  .home-page main .quote-section h1 {
    font-size: 3em;
  }
  .home-page main .quote-section h1 span {
    text-shadow: 0px 0px 30px #FA0029;
  }
}

@media (min-width: 75em) {
  .home-page main .quote-section {
    height: 45vh;
  }
  .home-page main .quote-section h1 {
    font-size: 4em;
    color: #fff;
  }
  .home-page main .quote-section img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.home-page main .link-section {
  position: relative;
  z-index: 5;
  width: 100vw;
  height: auto;
}

.home-page main .link-section ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100vw;
}

.home-page main .link-section ul li .list-items {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

.home-page main .link-section ul li .list-items a {
  cursor: pointer;
}

.home-page main .link-section ul li .list-items a img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 40vh;
  -webkit-filter: grayscale(0.6);
          filter: grayscale(0.6);
  mix-blend-mode: screen;
}

.home-page main .link-section ul li .list-items .list-comments {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page main .link-section ul li .list-items .list-comments a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15em;
  text-shadow: -2px 2px 2px rgba(26, 27, 38, 0.5);
}

.home-page main .link-section ul li .list-items .list-comments button {
  position: relative;
  z-index: 5;
  font-size: .75em;
  font-weight: 300;
  text-transform: uppercase;
  width: 55%;
  display: block;
  margin: 2em auto;
  border-radius: 5em;
  background-color: rgba(26, 27, 38, 0.9);
  padding: .5em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
}

.home-page main .link-section ul li .list-items .list-comments button:hover {
  cursor: pointer;
}

.home-page main .link-section ul li .list-items .list-comments button a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 75em) {
  .home-page main .link-section ul li .list-items .list-comments {
    background-color: rgba(26, 27, 38, 0.7);
    display: none;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .home-page main .link-section ul li .list-items .list-comments a {
    height: 100%;
    width: 80%;
    font-size: 3em;
    display: block;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-shadow: 8px 8px black;
  }
  .home-page main .link-section ul li .list-items .list-comments button {
    display: none;
  }
  .home-page main .link-section ul li .list-items:hover .list-comments {
    display: block;
    width: 100%;
  }
}

@media (min-width: 45em) {
  .home-page main .link-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home-page main .link-section ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (min-width: 75em) {
  .home-page main .link-section ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
}

.home-page main .main-section {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 40vh;
}

.home-page main .main-section .main-section-bkg {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.home-page main .main-section .main-section-am-cup-bkg {
  position: absolute;
  bottom: 0;
  bottom: -3vh;
  right: -100vw;
  height: auto;
  width: 250%;
}

.home-page main .main-section .main-section-am-cup-boat {
  position: absolute;
  z-index: 5;
  bottom: 0;
  bottom: -3vh;
  right: -75vw;
  height: auto;
  width: 250%;
}

.home-page main .main-section .main-section-txt {
  position: absolute;
  width: 60vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  padding: 0 1em 3em 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-page main .main-section .main-section-txt h1 {
  position: relative;
  font-size: 5vw;
  font-weight: 300;
  color: #fff;
  line-height: 1.25em;
}

@media (min-width: 45em) {
  .home-page main .main-section {
    height: 50vh;
  }
  .home-page main .main-section .main-section-am-cup-boat {
    bottom: 0;
    right: -55vw;
    width: 150vw;
  }
  .home-page main .main-section .main-section-txt {
    width: 30em;
    margin: 2em 0 0 2em;
  }
  .home-page main .main-section .main-section-txt h1 {
    font-size: 2em;
  }
}

@media (min-width: 55em) {
  .home-page main .main-section {
    height: 40vh;
  }
  .home-page main .main-section .main-section-am-cup-boat {
    bottom: 0;
    right: -55vw;
    width: 150vw;
  }
  .home-page main .main-section .main-section-txt {
    width: 50vw;
  }
  .home-page main .main-section .main-section-txt h1 {
    font-size: 4vw;
  }
}

@media (min-width: 75em) {
  .home-page main .main-section {
    height: 100vh;
  }
  .home-page main .main-section .main-section-am-cup-bkg {
    bottom: -5vh;
    right: -70vw;
    width: 170vw;
  }
  .home-page main .main-section .main-section-am-cup-boat {
    bottom: -5vh;
    right: -65vw;
    width: 200vw;
  }
  .home-page main .main-section .main-section-txt {
    width: 60vw;
    padding: 0 1em 15em 2em;
  }
  .home-page main .main-section .main-section-txt h1 {
    font-size: 4vw;
  }
}

.home-page main .what-we-do-section {
  width: 100%;
  position: relative;
  padding-top: 2em;
}

.home-page main .what-we-do-section .what-we-do-section-bg-img {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 150vh;
  -webkit-filter: opacity(0.2);
          filter: opacity(0.2);
  display: block;
}

.home-page main .what-we-do-section .what-we-do-section-bg-img img {
  height: 100%;
  width: 100%;
}

.home-page main .what-we-do-section .what-we-do-section-content {
  width: 100%;
  height: auto;
}

.home-page main .what-we-do-section .what-we-do-section-content .what-we-do-section-content-header {
  position: relative;
}

.home-page main .what-we-do-section .what-we-do-section-content .what-we-do-section-content-header h1 {
  position: relative;
  font-size: 3em;
  z-index: 5;
  text-align: center;
  color: #0A57A4;
  padding: .5em 0;
  text-transform: uppercase;
}

.home-page main .what-we-do-section .what-we-do-section-content .what-we-do-section-content-header .brush-stroke {
  position: absolute;
  z-index: 4;
  bottom: .5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70vw;
}

.home-page main .what-we-do-section .what-we-do-section-content ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100vw;
}

.home-page main .what-we-do-section .what-we-do-section-content ul li .list-items {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

.home-page main .what-we-do-section .what-we-do-section-content ul li .list-items a {
  cursor: pointer;
}

.home-page main .what-we-do-section .what-we-do-section-content ul li .list-items a img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 40vh;
  -webkit-filter: grayscale(0.6);
          filter: grayscale(0.6);
  mix-blend-mode: screen;
}

.home-page main .what-we-do-section .what-we-do-section-content ul li .list-items .list-comments {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page main .what-we-do-section .what-we-do-section-content ul li .list-items .list-comments a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15em;
  text-shadow: -2px 2px 2px rgba(26, 27, 38, 0.5);
}

.home-page main .what-we-do-section .what-we-do-section-content ul li .list-items .list-comments button {
  position: relative;
  z-index: 5;
  font-size: .75em;
  font-weight: 300;
  text-transform: uppercase;
  width: 55%;
  display: block;
  margin: 2em auto;
  border-radius: 5em;
  background-color: rgba(26, 27, 38, 0.9);
  padding: .5em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
}

.home-page main .what-we-do-section .what-we-do-section-content ul li .list-items .list-comments button:hover {
  cursor: pointer;
}

.home-page main .what-we-do-section .what-we-do-section-content ul li .list-items .list-comments button a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 75em) {
  .home-page main .what-we-do-section .what-we-do-section-content ul li .list-items .list-comments {
    background-color: rgba(26, 27, 38, 0.7);
    display: none;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .home-page main .what-we-do-section .what-we-do-section-content ul li .list-items .list-comments a {
    height: 100%;
    width: 80%;
    font-size: 3em;
    display: block;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-shadow: 8px 8px black;
  }
  .home-page main .what-we-do-section .what-we-do-section-content ul li .list-items .list-comments button {
    display: none;
  }
  .home-page main .what-we-do-section .what-we-do-section-content ul li .list-items:hover .list-comments {
    display: block;
    width: 100%;
  }
}

.home-page main .what-we-do-section .what-we-do-section-content .view-more {
  position: relative;
  z-index: 5;
  font-size: .75em;
  font-weight: 300;
  text-transform: uppercase;
  width: 55%;
  display: block;
  margin: 2em auto;
  border-radius: 5em;
  background-color: rgba(26, 27, 38, 0.9);
  padding: .5em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  width: 40%;
  padding: .5em;
  border: 6px solid #0A57A4;
}

.home-page main .what-we-do-section .what-we-do-section-content .view-more:hover {
  cursor: pointer;
}

.home-page main .what-we-do-section .what-we-do-section-content .view-more a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 45em) {
  .home-page main .what-we-do-section .what-we-do-section-content .what-we-do-section-content-header {
    font-size: 1.5em;
  }
  .home-page main .what-we-do-section .what-we-do-section-content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home-page main .what-we-do-section .what-we-do-section-content ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.3%;
            flex: 1 0 33.3%;
  }
  .home-page main .what-we-do-section .what-we-do-section-content ul li .list-items .list-comments {
    width: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .home-page main .what-we-do-section .what-we-do-section-content ul li .list-items .list-comments a {
    font-size: 2em;
  }
  .home-page main .what-we-do-section .what-we-do-section-content ul li .list-items .list-comments button {
    width: 16em;
  }
  .home-page main .what-we-do-section .what-we-do-section-content .view-more {
    width: 15em;
  }
  .home-page main .what-we-do-section .what-we-do-section-content .view-more a {
    font-size: 2em;
  }
}

@media (min-width: 55em) {
  .home-page main .what-we-do-section .what-we-do-section-content .what-we-do-section-content-header h1 {
    font-size: 5em;
  }
}

@media (min-width: 75em) {
  .home-page main .what-we-do-section .what-we-do-section-content .what-we-do-section-content-header h1 {
    font-size: 6em;
  }
  .home-page main .what-we-do-section .what-we-do-section-content .what-we-do-section-content-header .brush-stroke {
    width: 40%;
  }
  .home-page main .what-we-do-section .what-we-do-section-content ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
  .home-page main .what-we-do-section .what-we-do-section-content ul li .list-items .list-comments a {
    font-size: 5em;
  }
}

.about-page main .top-section {
  position: fixed;
  z-index: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.about-page main .top-section img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 45em) {
  .about-page main .top-section img {
    width: 100%;
  }
}

.about-page main .about-section {
  position: relative;
  width: 100vw;
  height: 100%;
  margin-top: 45vh;
  padding: 2em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #dddcdc;
}

.about-page main .about-section .the-header {
  width: 80%;
  margin: 0 auto;
  text-transform: uppercase;
}

.about-page main .about-section .the-header h1 {
  text-align: left;
  color: #0A57A4;
}

.about-page main .about-section .the-paragraph {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
}

.about-page main .about-section .the-paragraph p {
  color: #1A1B26;
}

.about-page main .about-section .the-paragraph ul {
  padding: .5em 0;
}

.about-page main .about-section .the-paragraph ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin: .5em 0;
}

@media (min-width: 55em) {
  .about-page main .about-section .the-header h1 {
    font-size: 3em;
  }
  .about-page main .about-section .the-paragraph {
    font-size: 1.5em;
  }
}

@media (min-width: 75em) {
  .about-page main .about-section {
    margin-top: 60em;
  }
  .about-page main .about-section .the-header {
    width: 60vw;
  }
  .about-page main .about-section .the-header h1 {
    font-size: 4em;
  }
  .about-page main .about-section .the-paragraph {
    width: 60vw;
  }
}

.about-page main .image-section {
  width: 100vw;
  position: relative;
  z-index: 6;
}

.about-page main .image-section img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-position: center;
     object-position: center;
}

.about-page main .clients-section {
  width: 100vw;
}

.about-page main .clients-section .clients-section-content {
  position: relative;
  background-color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
}

.about-page main .clients-section .clients-section-content .clients-section-content-header h1 {
  position: relative;
  z-index: 5;
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #0A57A4;
}

.about-page main .clients-section .clients-section-content .clients-section-content-header .brush-stroke {
  display: block;
  width: 70vw;
  margin: -3vh auto 0 auto;
}

.about-page main .clients-section .clients-section-content .clients {
  width: 80%;
  margin: 1em auto 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-page main .clients-section .clients-section-content .clients img {
  border: 1px solid transparent;
  width: 20vw;
  height: auto;
  display: block;
  margin: 1em auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media (min-width: 55em) {
  .about-page main .clients-section .clients-section-content .clients-section-content-header h1 {
    font-size: 5em;
  }
  .about-page main .clients-section .clients-section-content .clients-section-content-header .brush-stroke {
    width: 50vw;
  }
  .about-page main .clients-section .clients-section-content .clients {
    padding-bottom: 1em;
  }
}

@media (min-width: 75em) {
  .about-page main .clients-section .clients-section-content .clients-section-content-header h1 {
    padding-top: 1em;
    font-size: 8em;
  }
  .about-page main .clients-section .clients-section-content .clients-section-content-header .brush-stroke {
    width: 40em;
    margin-top: -4em;
  }
  .about-page main .clients-section .clients-section-content .clients {
    width: 60vw;
    padding: 2em 0;
  }
  .about-page main .clients-section .clients-section-content .clients img {
    width: 10em;
    padding: 1em 0;
  }
  .about-page main .clients-section .clients-section-content .clients img:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}

.about-page main .sustainability-section {
  position: relative;
  width: 100vw;
  height: 100%;
  padding: 1em 0;
  background-color: #dddcdc;
}

.about-page main .sustainability-section .sustainability-certification {
  width: 80%;
  margin: 0 auto;
}

.about-page main .sustainability-section .sustainability-certification h1 {
  text-transform: uppercase;
  color: #1A1B26;
  font-size: 1.25em;
  text-align: center;
}

.about-page main .sustainability-section .sustainability-certification p {
  color: #fff;
  text-align: center;
}

.about-page main .sustainability-section .sustainability-certification-img img {
  display: block;
  width: 50vw;
  margin: 0 auto;
  padding-top: 1em;
}

.about-page main .sustainability-section::after {
  content: '';
  position: absolute;
  top: 22vh;
  left: 0;
  width: 100vw;
  height: 15vh;
  background-color: #dddcdc;
}

@media (min-width: 55em) {
  .about-page main .sustainability-section {
    padding: 6em 0;
  }
  .about-page main .sustainability-section .sustainability-certification h1 {
    font-size: 4em;
  }
  .about-page main .sustainability-section .sustainability-certification p {
    font-size: 2em;
    margin: 3em 0 0 0;
  }
  .about-page main .sustainability-section .sustainability-certification-img img {
    width: 40vw;
    padding: 3em 0 0 0;
  }
}

@media (min-width: 55em) {
  .about-page main .sustainability-section .sustainability-certification h1 {
    font-size: 6em;
    color: #0A57A4;
  }
  .about-page main .sustainability-section .sustainability-certification p {
    font-size: 3em;
    margin: 1em 0 0 0;
  }
  .about-page main .sustainability-section .sustainability-certification-img img {
    width: 40vw;
  }
  .about-page main .sustainability-section::after {
    top: 60vh;
  }
}

.what-we-do-page main .taxonomy .taxonomy-control-container .taxonomy-control-container-bkg {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 19vh;
  background-image: url("../img/backgrounds/footer-background.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.what-we-do-page main .taxonomy .taxonomy-control-container .taxonomy-control-container-bkg .color {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 6em;
  background-color: #1A1B26;
}

.what-we-do-page main .taxonomy .taxonomy-control-container .taxonomy-control-container-buttons {
  position: relative;
  top: 1em;
  left: 1em;
  z-index: 90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  height: auto;
}

.what-we-do-page main .taxonomy .taxonomy-control-container .taxonomy-control-container-buttons button {
  width: 8em;
  height: 3em;
  font-size: .5em;
  padding: .5em;
  margin: .5em;
  border-radius: .5em;
  color: #1A1B26;
}

.what-we-do-page main .taxonomy .taxonomy-control-container .taxonomy-control-container-buttons :nth-child(1) {
  width: 100%;
}

.what-we-do-page main .taxonomy .container {
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  margin: 3em 0;
}

.what-we-do-page main .taxonomy .container .mix {
  width: 8em;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.3%;
          flex: 1 0 33.3%;
}

.what-we-do-page main .taxonomy .container .mix img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 45em) {
  .what-we-do-page main .taxonomy .taxonomy-control-container .taxonomy-control-container-bkg {
    height: 18em;
  }
  .what-we-do-page main .taxonomy .taxonomy-control-container .taxonomy-control-container-buttons {
    width: 70%;
  }
  .what-we-do-page main .taxonomy .taxonomy-control-container .taxonomy-control-container-buttons button {
    font-size: 1em;
    height: auto;
  }
}

@media (min-width: 55em) {
  .what-we-do-page main .taxonomy .taxonomy-control-container .taxonomy-control-container-buttons {
    width: 70%;
  }
  .what-we-do-page main .taxonomy .taxonomy-control-container .container {
    margin-top: 6em;
  }
}

@media (min-width: 75em) {
  .what-we-do-page main .taxonomy .taxonomy-control-container .taxonomy-control-container-bkg {
    height: 23em;
  }
  .what-we-do-page main .taxonomy .taxonomy-control-container .taxonomy-control-container-buttons {
    width: 50%;
    top: 10em;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .what-we-do-page main .taxonomy .taxonomy-control-container .taxonomy-control-container-buttons button {
    cursor: pointer;
  }
  .what-we-do-page main .taxonomy .taxonomy-control-container .taxonomy-control-container-buttons button:hover {
    color: #FA0029;
    background: #0A57A4;
  }
  .what-we-do-page main .taxonomy .container {
    width: 50vw;
    margin: 0 auto;
  }
}

.what-we-do-page main .quote-section {
  position: relative;
  width: 75vw;
  margin: 1em auto;
  padding: 1em 0 0 0;
  background-color: #1a1b26;
}

.what-we-do-page main .quote-section h3 {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 300;
  letter-spacing: .15em;
  text-align: center;
}

.what-we-do-page main .quote-section .brush-stroke {
  position: relative;
  top: -1em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0;
  width: 70vw;
}

.what-we-do-page main .quote-section::before {
  content: '';
  position: absolute;
  top: -1.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90vw;
  height: .1em;
  background-color: #dddcdc;
}

@media (min-width: 45em) {
  .what-we-do-page main .quote-section h3 {
    font-size: 2em;
    padding: 0 .5em 0 .5em;
  }
  .what-we-do-page main .quote-section .brush-stroke {
    width: 50vw;
  }
  .what-we-do-page main .quote-section::before {
    top: 21.5em;
  }
}

@media (min-width: 55em) {
  .what-we-do-page main .quote-section {
    margin-top: 7em;
  }
  .what-we-do-page main .quote-section h3 {
    font-size: 2em;
    padding-top: 1em;
  }
  .what-we-do-page main .quote-section .brush-stroke {
    width: 60vw;
    bottom: 2em;
  }
  .what-we-do-page main .quote-section::before {
    margin-top: -25em;
  }
}

@media (min-width: 75em) {
  .what-we-do-page main .quote-section h3 {
    font-size: 4em;
  }
}

.contact-page main .contact-top-image {
  position: relative;
  width: 100vw;
}

.contact-page main .contact-top-image img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.contact-page main .contact-top-image h1 {
  position: absolute;
  width: 50vw;
  text-align: right;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 45em) {
  .contact-page main .contact-top-image h1 {
    font-size: 5em;
  }
}

@media (min-width: 75em) {
  .contact-page main .contact-top-image {
    height: 50vh;
  }
  .contact-page main .contact-top-image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.contact-page main .contact-form-section {
  background-color: #1A1B26;
  width: 100vw;
}

.contact-page main .contact-form-section .form {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #dddcdc;
}

.contact-page main .contact-form-section .form .group {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  margin: .5em 0;
}

.contact-page main .contact-form-section .form .group p {
  font-size: 2em;
  color: #dddcdc;
  font-weight: 300;
}

.contact-page main .contact-form-section .form .group .formGroup :focus {
  color: #0A57A4;
}

.contact-page main .contact-form-section .form .group .formGroup input {
  font-size: 2em;
  padding: .25em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  outline: none;
  border-radius: .25em;
  background-color: #dddcdc;
}

.contact-page main .contact-form-section .form .group .formGroup textarea {
  width: 100%;
  margin: 0 auto;
  outline: none;
  border-radius: 1.2em;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #1A1B26;
  background-color: #dddcdc;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
}

.contact-page main .contact-form-section .form .submit {
  margin: 2em 0;
  text-align: center;
  width: 100%;
}

.contact-page main .contact-form-section .form .submit input {
  color: #dddcdc;
  font-size: 1.5em;
  padding: .25em .55em;
  cursor: pointer;
  border-radius: .25em;
  background-color: #0a57a4;
}

@media (min-width: 45em) {
  .contact-page main .contact-form-section {
    padding-top: 2em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .contact-page main .contact-form-section .form .name-form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-page main .contact-form-section .form .name-form-group .group {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    margin: .5em;
  }
  .contact-page main .contact-form-section .form .submit input {
    font-size: 2em;
  }
}

@media (min-width: 55em) {
  .contact-page main .contact-form-section .form .submit input {
    font-size: 3em;
  }
}

@media (min-width: 75em) {
  .contact-page main .contact-form-section .form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-page main .contact-form-section .form .name-form-group {
    display: block;
  }
  .contact-page main .contact-form-section .form .group {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    margin-left: 2em;
  }
  .contact-page main .contact-form-section .form .group .formGroup textarea {
    height: 20em;
  }
  .contact-page main .contact-form-section .form .submit input {
    font-size: 2em;
  }
}

.contact-page main .contact-address-section {
  position: relative;
}

.contact-page main .contact-address-section .address h2 {
  font-size: 2em;
  text-align: center;
  color: #1A1B26;
  text-transform: uppercase;
  margin-top: 1em;
  font-weight: 700;
}

.contact-page main .contact-address-section .address p {
  text-align: center;
  margin-top: -1em;
  letter-spacing: .25em;
}

.contact-page main .contact-address-section .address .addresses {
  margin: 1em;
}

.contact-page main .contact-address-section .address .addresses a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
  color: #1A1B26;
  margin: 0 auto;
}

.contact-page main .contact-address-section .address .addresses a .icon i {
  font-size: 3em;
  width: 1.5em;
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #FA0029;
  margin-right: .5em;
}

.contact-page main .contact-address-section .address .addresses a .phone h3, .contact-page main .contact-address-section .address .addresses a .email h3, .contact-page main .contact-address-section .address .addresses a .street-address h3 {
  font-size: 1em;
  font-weight: 300;
}

.contact-page main .contact-address-section .address .addresses a .phone h3 span, .contact-page main .contact-address-section .address .addresses a .email h3 span, .contact-page main .contact-address-section .address .addresses a .street-address h3 span {
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-page main .contact-address-section .address:not(:last-child)::after {
  content: '';
  position: absolute;
  background-color: #dddcdc;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90vw;
  height: .1em;
}

@media (min-width: 45em) {
  .contact-page main .contact-address-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2em 0;
  }
  .contact-page main .contact-address-section .address {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 46%;
            flex: 0 0 46%;
  }
  .contact-page main .contact-address-section .address h2 {
    text-align: left;
    margin-left: 1em;
  }
  .contact-page main .contact-address-section .address p {
    text-align: left;
    margin-left: 1.8em;
  }
  .contact-page main .contact-address-section .address::after {
    content: '';
    display: none;
  }
}

@media (min-width: 55em) {
  .contact-page main .contact-address-section .address h2 {
    font-size: 3em;
    margin-left: .5em;
  }
  .contact-page main .contact-address-section .address p {
    text-align: left;
    margin-left: 1.8em;
  }
  .contact-page main .contact-address-section .address .addresses a .icon i {
    font-size: 3em;
    margin-right: 0em;
  }
  .contact-page main .contact-address-section .address .addresses a .phone h3, .contact-page main .contact-address-section .address .addresses a .email h3, .contact-page main .contact-address-section .address .addresses a .street-address h3 {
    font-size: 1.2em;
    font-weight: 300;
  }
  .contact-page main .contact-address-section .address .addresses a .phone h3 span, .contact-page main .contact-address-section .address .addresses a .email h3 span, .contact-page main .contact-address-section .address .addresses a .street-address h3 span {
    font-size: 2em;
  }
}

@media (min-width: 75em) {
  .contact-page main .contact-address-section .address {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }
  .contact-page main .contact-address-section .address h2 {
    font-size: 2em;
    margin-left: 1em;
  }
  .contact-page main .contact-address-section .address p {
    text-align: left;
    margin-left: 1.8em;
  }
  .contact-page main .contact-address-section .address .addresses a .phone h3, .contact-page main .contact-address-section .address .addresses a .email h3, .contact-page main .contact-address-section .address .addresses a .street-address h3 {
    font-size: 1em;
  }
  .contact-page main .contact-address-section .address .addresses a .phone h3 span, .contact-page main .contact-address-section .address .addresses a .email h3 span, .contact-page main .contact-address-section .address .addresses a .street-address h3 span {
    font-size: 2em;
  }
}

.generic-page main .top-section {
  width: 100vw;
  border: 2px solid red;
}

.generic-page main .top-section .main-img {
  position: relative;
}

.generic-page main .top-section .main-img img {
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.generic-page main .top-section .main-text {
  border: 2px solid green;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.generic-page main .top-section .main-text h1 {
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  color: #dddcdc;
}

.generic-page main .divider {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  margin-top: -1em;
}

.generic-page main .divider img {
  position: relative;
  z-index: 0;
  width: 150%;
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  display: block;
}

.generic-page main .divider .divider-text h3 {
  position: absolute;
  z-index: 100;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: .7em;
  font-weight: 300;
  text-align: center;
  padding: 0 1em;
}

.generic-page main .divider .divider-text h3 span {
  color: #FA0029;
  font-weight: 700;
}

footer {
  position: relative;
  width: 100vw;
  background-image: url("../img/backgrounds/footer-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2em;
}

footer .footer-content {
  position: relative;
  z-index: 6;
}

footer .footer-content .footer-address {
  text-align: center;
}

footer .footer-content .footer-address .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5em 0;
}

footer .footer-content .footer-address .footer-contact a {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
}

footer .footer-content .footer-address .footer-contact i {
  font-size: 1.5em;
  color: transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #FA0029;
  margin-right: .5em;
}

footer .footer-content .footer-social {
  text-align: center;
  margin: .5em 0;
}

footer .footer-content .footer-social a i {
  font-size: 3.5em;
  text-align: center;
  padding: 0.25em 0.5em;
  color: transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #FA0029;
}

footer .footer-links {
  padding: 1em 0;
  margin-top: -10px;
  background-color: #1A1B26;
}

footer .footer-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

footer .color {
  display: none;
}

@media (min-width: 55em) {
  footer .footer-content .footer-address {
    margin-top: 1.5em;
  }
  footer .footer-content .footer-address .footer-contact {
    font-size: 1.5em;
    margin: .25em 0;
    padding: 0;
  }
  footer .footer-content .footer-address .footer-contact i {
    width: 1em;
  }
  footer .footer-links ul li a {
    font-size: 1.5em;
    padding: 1em;
    display: block;
  }
}

@media (min-width: 75em) {
  footer {
    padding: 5em 0;
  }
  footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .footer-content .footer-address .footer-contact {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin: 2em;
  }
  footer .footer-content .footer-address .footer-contact a {
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  footer .footer-content .footer-address .footer-contact a:hover {
    color: #FA0029;
  }
  footer .footer-content .footer-social {
    margin: 0;
  }
  footer .footer-content .footer-social a .fa-instagram, footer .footer-content .footer-social a .fa-linkedin-in {
    font-size: 5em;
    text-align: center;
    margin: .5em 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #FA0029;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  footer .footer-content .footer-social a .fa-instagram:hover, footer .footer-content .footer-social a .fa-linkedin-in:hover {
    -webkit-text-stroke-color: #fff;
  }
  footer .footer-content .footer-links {
    position: relative;
    z-index: 100;
    padding: 0;
    background-color: transparent;
  }
  footer .footer-content .footer-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-content .footer-links ul li {
    margin: 1em;
  }
  footer .footer-content .footer-links ul li a {
    font-size: 1.5em;
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 300;
    letter-spacing: .25em;
    text-align: right;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  footer .footer-content .footer-links ul li a:hover {
    color: #FA0029;
  }
  footer .color {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 6em;
    background-color: #1A1B26;
  }
}
/*# sourceMappingURL=style.css.map */