@import 'breakpoints';

// @import 'product';
//colors
$highkight-color: #FA0029;
$ppg-blue: #0A57A4;
$main-color: #1A1B26;
$highlight-color: #dddcdc;
$white-color: #fff;

@mixin image-links {
    position: relative;
    display: flex;
    flex-direction: column;

    li{

        .list-items{
            position: relative;
            width: 100vw;
            height: 100%;
            padding: 0;

            a{
                cursor: pointer;

                img{
                    display: block;
                    object-fit: cover;
                    object-position: top;
                    width: 100%;
                    height: 40vh;
                    filter: grayscale(.6);
                    mix-blend-mode: screen;
                }
            }

            .list-comments{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p{
                    color: $white-color;
                    font-size: 2em;
                    text-align: center;
                    font-weight: 700;
                    letter-spacing: .15em;
                    text-shadow: -2px 2px 2px rgba($color: $main-color, $alpha: .5);
                }

                button{
                    @include the-buttons;

                    a{
                        text-decoration: none;
                        color: $white-color;
                    }
                }
            }
        }
    }    
}

@mixin the-buttons {
    position: relative;
    z-index: 5;
    font-size: 1.25em;
    font-weight: 300;
    text-transform: uppercase;
    width: 30%;
    display: block;
    margin: 0 auto;
    border-radius: 5em;
    background-color: rgba($color: $main-color, $alpha: 0.9);
    padding: .5em 0;
    box-sizing: border-box;
    margin-top: 1em;
    border: 1px solid $white-color;
    
    &:hover{
        cursor: pointer;
    }
}

*{
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
}


header{ 

    .nav{
        position: fixed;
        top: 0;
        z-index: 90;
        width: 100vw;

        .bars {
            position: fixed;
            top: 1em;
            right: 1em;
            z-index: 100;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 4em;
            height: 3.5em;
            cursor: pointer;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 3em;
            height: 0.25em;
            background-color: $white-color;
            border-radius: 15px;
            transition: 0.5s;
        }

        .change .bar1 {
            transform: rotate(45deg) translate(.7em, 1em);
            color: $highlight-color;
        }

        .change .bar2 {
            opacity: 0;
            transform: scaleX(0);
            color: $highlight-color;
        }

        .change .bar3 {
            transform: rotate(-45deg) translate(0.7em, -1em);
            color: $highlight-color;
        }

        .nav-content{
            position: relative;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: $main-color;
            opacity: 1;

            .logo{
                text-align: center;
                margin-top: 5em;

                img{
                    text-align: center;

                    &:hover{
                        filter: grayscale(1);
                    }
                }
            }

            ul{
                text-align: center;
                margin-bottom: 5em;

                li{
                    position: relative;
                    width: 100vw;
                    left: -100vw;
                    margin: 2em 0;

                    a{
                        display: block;
                        font-weight: 300;
                        color: $white-color;
                        text-decoration: none;
                        font-size: 3em;
                    }
                }
            }
        }
    }

    @include respond-to('bp2'){

        .nav{

            .nav-content{

                .logo{

                    a{
                        img{
                            width: 60vw;
                        }
                    }
                }

                ul{
                    position: relative;
                    width: 100vw;
                }
            }
        }
    }

    @include respond-to('bp3'){

        .nav{
            position: fixed;
            border: 2px solid green;
    
            .bars {
                display: none;
            }
    
            .nav-content{
                position: relative;
                width: 100vw;
                height: 6em;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 5em;
                opacity: 1 !important;
    
                .logo{
                    position: relative;
                    z-index: 100;
                    height: 6em;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                    
                    a{

                        img{
                            text-align: center;
                            height: 5em;
                            width: auto;
                        }
                    }
                }
    
                ul{
                    position: relative;
                    width: auto;
                    height: 6em;
                    display: flex;
                    align-items: center;
    
                    li{
                        position: relative;
                        width: auto;
                        left: 0;
                        margin: 2em 0;
    
                        a{

                            color: $white-color;
                            text-decoration: none;
                            font-size: 1.25em;
                            padding-bottom: .25em;
                            margin: 0 2em;
                            border-bottom: 1px solid transparent;
                            transition: all .5s;
    
                            &:hover{
                                color: #FA0029;
                                border-bottom: 1px solid $highkight-color;
                            }
                        }
                    }
                }
            }
        }

    }
}



// Home Page
.home-page{
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    width: 100vw;

    main{
        width: 100vw;

        .video-section{
            position: relative;
            z-index: 5;

            .ppg-video{
                width: 100vw;
                display: block;
            }
        }

        .quote-section{
            position: relative;
            z-index: 5;
            width: 100%;

            h1{
                width: 90%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                font-weight: 300;
                font-size: 1.5em;
                line-height: 1.5em;
                color: $white-color;
                text-transform: uppercase;

                span{
                    color: $highkight-color;
                    font-weight: 700;
                }
            }

            img{
                display: block;
                width: 100%;
                height: 100%em;
            }
        }

        .link-section{
            position: relative;
            z-index: 5;
            width: 100vw;
            height: auto;

            ul{
                @include image-links;
            }
        }

        .main-section{
            position: relative;
            width: 100vw;
            height: 40vh;

            .main-section-bkg{
                position: relative;
                top: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                filter: brightness(80%);
            }

            .main-section-am-cup-bkg{
                position: absolute;
                bottom: 0;
                bottom: -3vh;
                right: -100vw;
                height: auto;
                width: 250%;
            }

            .main-section-am-cup-boat{
                position: absolute;
                z-index: 5;
                bottom: 0;
                bottom: -3vh;
                right: -75vw;
                height: auto;
                width: 250%;
            }

            .main-section-txt{
                position: absolute;
                width: 60vw;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                padding: 0 1em 3em 1.5em;
                box-sizing: border-box;
                
                h1{
                    position: relative;
                    font-size: 5vw;
                    font-weight: 300;
                    color: $white-color;
                    line-height: 1.25em;
                }
            }
                        
        }

        .our-work-section{
            position: relative;
            padding-top: 2em;

            .our-work-section-bg-img{
                position: fixed;
                z-index: -1;
                top: 0;
                width: 100vw;
                height: 150vh;

                img{
                    height: 100%;
                }
                
                filter: opacity(0.2);
                display: block;
            }

            .our-work-section-content{
                width: 100%;

                .our-work-section-content-header{
                    position: relative;

                    h1{
                        position: relative;
                        font-size: 3em;
                        z-index: 5;
                        text-align: center;
                        color: $ppg-blue;
                        padding: .5em 0;
                        text-transform: uppercase;
                    }

                    .brush-stroke{
                        position: absolute;
                        z-index: 4;
                        bottom: .5em;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 70vw;
                    }
                }

                ul{
                    @include image-links;
                    position: relative;
                    z-index: 5;
                }

                .view-more{
                    @include the-buttons;
                    width: 40%;
                    padding: .5em;
                    border: 6px solid $ppg-blue;
                    margin-bottom: 1em;

                    a{
                        text-decoration: none;
                        color: $white-color;
                    }
                }
            }
        }

        @include respond-to('bp2'){

            .quote-section{

                h1{
                    font-size: 3em;
                }
            }

            .main-section{
                height: 55vh;
        
                .main-section-am-cup-boat{
                    bottom: 0;
                    right: -55vw;
                    width: 150vw;
                }
        
                .main-section-txt{
                    width: 60vw;
                    padding: 0 1em 15em 2em;
                    margin-top: 3em;
                    
                    h1{
                        font-size: 4vw;
                    }
                }
            }

            .our-work-section{

                .our-work-section-content{

                    .our-work-section-content-header{

                        h1{
                            font-size: 6em;
                        }

                        .brush-stroke{
                            width: 70vw;
                        }
                    }

                    .view-more{
                        width: 20vw;
                    }
                }
            }
        }

        @include respond-to('bp3'){

            .quote-section{
                height: 50vh;
        
                h1{
                    font-size: 4em;
                    color: $white-color;
                }
        
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        
            .link-section{
        
                ul{
                    display: flex;
                    flex-direction: row;
        
                    li{
                        flex: 0 0 25%;
        
                        .list-items{
                            width: 100%;
        
                            .list-comments{
                                display: none;
                            }
                        }
                    }
                }
            }
        
            .main-section{
                height: 100vh;
        
        
                    .main-section-am-cup-bkg{
                        bottom: -5vh;
                        right: -70vw;
                        width: 170vw;
                    }
            
                    .main-section-am-cup-boat{
                        bottom: -5vh;
                        right: -65vw;
                        width: 200vw;
                    }
            
                    .main-section-txt{
                        width: 60vw;
                        padding: 0 1em 15em 2em;
                        
                        h1{
                            font-size: 4vw;
                        }
                    }
                }
            
        
            .our-work-section{
        
                .our-work-section-content{
        
                    .our-work-section-content-header{
        
                        h1{
                            font-size: 6em;
                        }
        
                        .brush-stroke{
                            position: absolute;
                            width: 30vw;
                        }
                    }
        
                    ul{
                        position: relative;
                        display: flex;
                        flex-direction: row;
            
                        li{
                            flex: 0 0 33.3%;
            
                            .list-items{
                                width: 100%;
        
                                .list-comments{
                                    display: none;
                                }
        
                                .list-comments-cricket{
                                    border: 3px solid red;
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    align-content: center;
                                    width: 100%;
                                    height: 100%;
                
                                    h2{
                                        color: $white-color;
                                        font-size: 3em;
                                        text-align: center;
                                        line-height: 1.5em;
                                        letter-spacing: .25em;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                }
        
                                :hover + .list-comments-sporting{
                                    display: block;
                                    position: relative;
                                    z-index: 50;
                                    filter: brightness(20%);
                                }
                            }
                        }
        
                    }
        
                    .view-more{
                        width: 10%;
                    }
        
                }
            }
        }
    }
}



//About Page
.about-page{
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    width: 100vw;

    .top-section{
        position: fixed;
        z-index: -10;
        top: 0;
        width: 100vw;
        height: 100vh;

        img{
            display: block;
            height: 100%;
            height: 100%;
        }

        @include respond-to('bp2'){

            img{
                width: 100%;
            }
        }

        @include respond-to('bp3'){


        }
    }

    .about-section{
        position: relative;
        width: 100vw;
        height: 100%;
        margin-top: 45vh;
        padding: 2em 0;
        box-sizing: border-box;
        background-image: url('../img/queens-warft/1904-queens-wharf-queens-street.jpg');
        background-blend-mode: screen;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $highlight-color;

        .the-header{
            width: 80%;
            margin: 0 auto;
            text-transform: uppercase;

            h1{
                text-align: left;
                color: $ppg-blue;
            }
        }

        .the-paragraph{
            width: 80%;
            margin: 0 auto;
            padding: 1em 0;

            p{
                color: $main-color;
            }

            ul{
                padding: .5em 0;

                li{
                    list-style-type: disc;
                    list-style-position: inside;
                    margin: .5em 0;
                }
            }
        }

        @include respond-to('bp2'){

            .the-header{

                h1{
                    font-size: 3em;
                }

            }
            .the-paragraph{
                font-size: 1.5em;
            }
        }

        @include respond-to('bp3'){

            margin-top: 60em;

            .the-header{
                width: 60vw;

                h1{
                    font-size: 4em;
                }
            }

            .the-paragraph{
                width: 60vw;
            }
        }
    }

    .image-section{
        position: relative;
        z-index: 6;
        img{
            width: 100%;
            display: block;
        }
    }

    .clients-section{
        width: 100vw;

        .clients-section-content{
            background-color: $white-color;
            padding-top: 1em;
            padding-bottom: 1em;

            .clients-section-content-header{

                h1{
                    position: relative;
                    z-index: 5;
                    width: 100%;
                    text-align: center;
                    font-size: 3em;
                    color: $ppg-blue;
                }

                .brush-stroke{
                    display: block;
                    width: 70vw;
                    margin: -3vh auto 0 auto;
                }
            }

            .clients{
                width: 80%;
                margin: 1em auto 1em auto;
                display: flex;
                flex-wrap: wrap;

                img{
                    border: 1px solid transparent;
                    width: 20vw;
                    height: auto;
                    display: block;
                    margin: 1em auto;
                    filter: grayscale(100%);
                }
            }
        }

        @include respond-to('bp2'){
            
            .clients-section-content{
    
                .clients-section-content-header{
    
                    h1{
                        font-size: 5em;
                    }

                    .brush-stroke{
                        width: 50vw;
                    }
                }

                .clients{
                    padding-bottom: 1em;
                }
            }
        }

        @include respond-to('bp3'){

            .clients-section-content{

                .clients-section-content-header{

                    h1{
                        padding-top: 1em;
                        font-size: 5em;
                    }

                    .brush-stroke{
                        width: 30em;
                        top: -1em;
                    }
                }

                .clients{
                    width: 60vw;
                    padding: 2em 0;

                    img{
                        width: 10em;
                        padding: 1em 0;

                        &:hover{
                            filter: grayscale(0%);
                        }
                    }
                }
            }
        }
    }

    .sustainability-section{
        width: 100vw;
        height: 100%;
        padding: 1em 0;
        background-color: $highlight-color;

        .sustainability-certification{
            width: 80%;
            margin: 0 auto;

            h1{
                text-transform: uppercase;
                color: $main-color;
                font-size: 1.25em;
                text-align: center;
            }

            p{
                color: $white-color;
                text-align: center;
            }
        }

        .sustainability-certification-img{

            img{
                display: block;
                width: 50vw;
                margin: 0 auto;
                padding-top: 1em;
            }
        }

        @include respond-to('bp2'){
            padding: 6em 0;

            .sustainability-certification{

                h1{
                    font-size: 4em;
                }

                p{
                    font-size: 2em;
                    margin: 3em 0 0 0;
                }
            }
            
            .sustainability-certification-img{

                img{
                    width: 40vw;
                    padding: 3em 0 0 0;
                }
            }
        }

        @include respond-to('bp2'){

            .sustainability-certification{

                h1{
                    font-size: 6em;
                }

                p{
                    font-size: 3em;
                    margin: 1em 0 0 0;
                }
            }
            
            .sustainability-certification-img{

                img{
                    width: 40vw;
                }
            }
        }
    }
}


//Our Work
.our-work{

    .taxonomy-section{
        border: 2px solid red;
        position: relative;
        z-index: 150;
        top: 6em;

        .container{

            
        }
    }
}

footer{
    position: relative;
    width: 100vw;
    background-image: url('../img/backgrounds/footer-background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $highlight-color;
    padding-top: 2em;

    .footer-content{
        position: relative;
        z-index: 6;

        .footer-address{
            text-align: center;

            .footer-contact{
                display: flex;
                justify-content: center;
                margin: 1.5em 0;

                a{
                    text-decoration: none;
                    color: $white-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 300;
                }

                i{
                    font-size: 1.5em;
                    color: transparent;
                    -webkit-text-stroke-width: .5px;
                    -webkit-text-stroke-color: $highkight-color;
                    margin-right: .5em;
                }
            }
        }

        .footer-social{
            text-align: center;
            margin: .5em 0;

            a{

                i{
                    font-size: 3.5em;
                    text-align: center;
                    padding: 0.25em 0.5em;
                    color: transparent;
                    -webkit-text-stroke-width: .5px;
                    -webkit-text-stroke-color: $highkight-color;
                }
            }
        }
    }

    .footer-links{
        padding: 1em 0;
        margin-top: -10px;
        background-color: $main-color;

        ul{
            display: flex;
            justify-content: space-around;

            li{

                a{
                    text-decoration: none;
                    color: $white-color;
                    font-size: 1.2em;
                }
            }
            
        }
    }

    .color{
        display: none;
    }

    @include respond-to('bp2'){

        .footer-content{

            .footer-address{
                margin-top: 1.5em;

                .footer-contact{
                    font-size: 1.5em;
                    margin: .25em 0;
                    padding: 0;

                    i{
                        width: 1em;
                    }
                }
            }
        }

        .footer-links{

            ul{


                li{
                    a{
                        font-size: 1.5em;
                        padding: 1em;
                        display: block;
                    }
                }
            }
        }
    }

    @include respond-to('bp3'){
        padding: 5em 0;

        .footer-content{
            display: flex;
            justify-content: space-around;

            .footer-address{
    
                .footer-contact{
                    justify-content: left;
                    margin: 2em;
    
                    a{
                        transition: all 1s;
    
                        &:hover{
                            color: $highkight-color;
                        }
                    }
                }
            }
    
            .footer-social{
                margin: 0;
                a{
    
                    .fa-instagram, .fa-linkedin-in{
                        font-size: 5em;
                        text-align: center;
                        margin: .5em 1em;
                        box-sizing: border-box;
                        color: transparent;
                        -webkit-text-stroke-width: .5px;
                        -webkit-text-stroke-color: $highkight-color;
                        transition: all 1s;
    
                        &:hover{
                            -webkit-text-stroke-color: $white-color;
                        }
                    }
                }
            }
    
            .footer-links{
                position: relative;
                z-index: 100;
                padding: 0;
                background-color: transparent;
    
                ul{
                    display: flex;
                    flex-direction: column;
    
                    li{
                        margin: 1em;

                        a{
                            font-size: 1.5em;
                            display: block;
                            margin: 0;
                            padding: 0;
                            font-weight: 300;
                            letter-spacing: .25em;
                            text-align: right;
                            transition: all 1s;
    
                            &:hover{
                                color: #FA0029;
                            }
                        }
                    }
                    
                }
            }
    
        }

        .color{
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100vw;
            height: 3em;
            background-color: $main-color;
        }
    }
}




